.navbar.navbar-fixed-left
	ul.nav.navbar-nav
		li.dropdown
			a.dropdown-toggle(href='#', data-toggle='dropdown', style='color: #f5d003')
				| My Calendar
				li
					a.indent(href='#', style='color: #f5d003', font='font') Manage Residents
				li
					a.indent(href='#', style='color: #f5d003') Manage Block News
				li
					a.indent(href='#', style='color: #f5d003') Manage Newsletters
		li
			a(href='#', style='color: #f5d003') Forums
